.aboutus {
    padding: 105px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.aboutus__background {
    background-image: url(../img/aboutus__background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.aboutus__checkbox {
    width: 20px;
}

.aboutus__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 7vw 0 7vw;
    height: 100%;
}

.aboutus__subtitle {
    margin: 20px 0;
    font-size: 38px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.aboutus__tagline {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--subtitle-color);
}

.aboutus__text,
.aboutus__additional-text {
    margin: 25px 0;
    font-size: 17px;
    font-family: var(--font-family);
    color: var(--text-color);
    line-height: 25.5px;
}

.aboutus__checkbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;

}

.aboutus__checkbox-text {
    display: grid;
    grid-template-columns: 20% 1fr;
    flex-wrap: wrap;
    font-size: 17px;
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--font-color-checkboxtext);
}
    
.aboutus__button-container {
    height: 50px;
    margin-top: 60px;
}

.aboutus__button {
    background-color: var(--title-color);
    color: white;
    font-size: 16.5px;
    padding: 15px 30px;
    border-radius: 35px;
    margin-bottom: 20px;
    font-family: var(--font-family);
}

.aboutus__button:hover {
    background-color: var(--subtext-color);
}

@media (min-width: 576px) {
    .aboutus__checkbox-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .aboutus {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 95px 32px;
    }

    .aboutus__right {
        padding: 0;
    }

    .aboutus__picture {
        padding-top: 50px;
    }

    .aboutus__checkbox-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 992px) {
    .aboutus__checkbox-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .aboutus__subtitle {
        font-size: 56px;
    }

    .aboutus__additional-text {
        margin: 0;
    }
}