.blog {
    background: url(../img/blog-background.jfif);
    box-sizing: border-box;
    background-size: cover;
    padding-bottom: 90px;
}
.blog__header {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.blog__header-subtitle {
    color: var(--subtext-color);
    font-size: 47px;
}
.blog__header-info {
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    color: var(--subtitle-color);
    font-weight: 700;
}
.blog__press {
    display: grid;
}
@media (min-width: 768px) {
    .blog__press{
        grid-template-columns: repeat(3, 1fr);
        padding: 0 40px;
    }
}
.blog__container {
    margin-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
}
.blog__fotos {
    border-radius: 2%;
    height: auto;
}
.blog__subtitle {
    margin-top: 20px;
    display: flex;
}
.blog__source {
  color: var(--title-color);
    padding-right: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.blog__date {
    padding-left: 10px;
    border-left: 1px solid;
    color: var(--icon-color);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.blog__title {
    margin-top: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color: var(--subtext-color);
}
.blog__change {
    letter-spacing: -1.5px;
}
.blog__news {
    margin-top: 20px;
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.blog__article {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 400;
    font-weight: bold;
    margin-top: 35px;
    padding: 16px 28px 16px 28px;
    color: white;
    user-select: none;
    background-color: var(--icon-color);
    box-sizing: border-box;
    text-decoration: solid;
    border-radius: 25px;
    transition: 0.4s;
}
.blog__article:hover {
    background-color: var(--subtext-color);
}