.ingredients__right {
    margin: 0 auto;
    padding: 90px 30px;
}

.ingredients__subtitle {
    font-size: 38px;
}

.description__benefits>img {
    width: 20px;
    height: 20px;
}

.ingredients__description-bold {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

.description__benefits {
    display: flex;
    align-items: flex-start;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

.ingredients__description {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: rgb(103, 103, 103);
    padding-top: 30px;
}

@media (min-width: 768px) {
    .ingredients {
        display: flex;
        justify-content: space-between;
    }

    .ingredients__right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .ingredients__left > img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .ingredients__description{
        /* width: 80%; */
    }

    .ingredients__subtitle {
        font-size: 56px;
    }

    
    
}