.our-app {
    padding: 90px 0;
  }

.our-app__allscreen-info {
    padding: 0px 24px;
}  

.our-app__text-info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

.our-app__text-info .our-app__subtitle {
    margin-top: 20px;
    font-size: 38px;
    color: var(--subtext-color);
    text-transform: capitalize;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }

.our-app__text-info .our-app__slogan {
    margin-top: 25px;
    color: var(--subtitle-color);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

.our-app__text-info .our-app__text {
    margin-top: 25px;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    font-family: 'Lato', sans-serif;
  }

.app__features {
    margin-top: 20px;
  }
  
.feature__block {
    padding: 7.5px 0;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
  }
  
.feature__descr .feature__title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.feature__block .feature__img {
    background-color: #fbf7ed;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__block .feature__img img {
    height: 26px;
    width: 26px;
    margin: auto;
  }
  
.feature__descr .feature__title {
    color: var(--subtext-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
  }
  
.feature__descr .feature__text {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    font-family: 'Lato', sans-serif;
  }
  
.our-app__buttons {
    margin-top: 35px;
  }
  
.our-app__buttons .our-app__icons-item {
    margin: 10px;
  }

.our-app__buttons .our-app__icons-item .play-market__button-img {
    width: 169px;
    height: 51.93px;
    border-radius: 5px;
}

.our-app__buttons .our-app__icons-item .app-store__button-img {
    width: 150px;
    height: 51.99px;
    border-radius: 5px; 
}

.our-app__countdown-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.countdown-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: var(--icon-color);
}

.countdown-days, .countdown-hours, .countdown-minutes, .countdown-seconds {
    font-size: 25px;
}

@media (min-width: 387px) {
    .our-app__buttons {
      display: flex;
      flex-direction: row;
    }

    .our-app__buttons .our-app__icons-item {
      margin: 10px 5px;
    }
}

@media (min-width: 768px) {
    .our-app__allscreen-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .our-app__text-info {
      margin-top: 0px;
    }

    .our-app__text-info .our-app__title {
      font-size: 18px;
    }

    .our-app__text-info .our-app__subtitle {
      font-size: 47px;
      font-weight: 700;
    }

    .feature__block {
      gap: 28px;
    }

    .feature__descr .feature__title {
      font-size: 23px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }

    .feature__block .feature__img {
      width: 70px;
      height: 70px;
    }
    
    .feature__block .feature__img img {
      height: 40px;
      width: 40px;
    }

    .our-app__buttons {
      display: flex;
      flex-direction: column;
    }
}

@media (min-width: 900px) {
    .our-app__buttons {
      display: flex;
      flex-direction: row;
    }
}

@media (min-width: 1127px) {
    .our-app {
      background-image: url(../img/our-app__background.jpg);
      background-size: cover;
  }
}

@media (min-width: 1200px) {
    .our-app__allscreen-info {
      padding: 0 40px;
      gap: 30px;
  }
}